@import "./variables.scss";
@import "./mixins.scss";

@font-face {
    font-family: 'Questrial';
    src: url('/fonts/Questrial/Questrial-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'PT Mono';
    src: url('/fonts/PT_Mono/PTMono-Regular.ttf') format('truetype');
}

body {
    font-family: 'Questrial', sans-serif;
    margin: 0;
    overflow: hidden;
}

.container {
    padding:0 2rem;
    display:flex;
    flex-direction:row;
    position:relative;
    overflow-y:scroll;
    height:calc(100vh - 7rem);
    padding-top:2rem;
    gap:2rem;
}

.section-outer {
    position:relative;
    width:fit-content;
    //width:$input-section-width;
    margin-bottom:1rem;

    &.fill {
        width:auto;
        height:100%;

        .section-inner {
            width:auto;
            height:calc(100% - 0.6rem);
        }
    }

    &.fill-width {
        width:100%;
    }

}

.section-background {
    @include drop-shadow;
}

.section-inner {
    position:relative;
    background:$secondary-color;
    border:1px solid $primary-color;
    border-radius:4px;
    color:$primary-color;
    padding:0.2rem 0.5rem;
}

.spacer {
    height:0.7rem;
}

.section-title {
    margin:0 auto;
    width:fit-content;
    text-align:center;
    font-size:1.6rem;
    margin-bottom:2rem;
    border-bottom:1px solid #b8b8b8;
    padding:0 2rem;

    @media screen and (max-width: 800px) {
        h2 {
            font-size:1.8rem;
        }
    }
}