@import "./mixins.scss";

.login-outer {
    padding:0.5rem 2rem 1.5rem 2rem;
    .form-group {
        @include flex-center-row;
        justify-content:space-between;
        align-items: center;
        gap:1rem;
        margin-bottom:0.5rem;
        input {
            border-radius:0.3rem;
            border:1px solid $primary-color;
            outline:none;
            padding:0.3rem;
            font-family: 'Questrial', sans-serif;
        }
        button {
            background:$secondary-color;
            border:1px solid $primary-color;
            font-family: 'Questrial', sans-serif;
            border-radius:0.3rem;
            cursor:pointer;
            display:flex;
            flex-direction: row;
            align-items: center;
            gap:10px;
            padding:0.4rem 0.6rem;
            &:hover {
                background:$primary-color;
                color:$secondary-color;
            }
            svg {
                transform:translateY(1px);
            }
        }
    }
    .error {
        color:#e82424;
        margin-bottom:0.7rem;
    }
}
    
@media screen and (max-width: 500px) {

    .login-outer {
        padding:1rem;

        .login-header {
            margin:0;
            margin-top:1rem;
        }
        .form-group {
            display:block;
            text-align:left;
            input {
                width:90%;
            }
            button {
                margin-top:1rem;
            }
        }
    }

}
