$primary-color: rgb(0, 0, 0);
$secondary-color: rgb(255, 255, 255);
$error-color: #ff3a3a;
$background: #101010;

@keyframes pop-in {
    0% {
        opacity:0;
        filter:blur(8px);
        transform:scale(0.1) translate(0,50%);
    }
    100% {
        opacity:1;
        filter:none;
        transform:none;
    }
}

@keyframes pop-in-center {
    0% {
        opacity:0;
        filter:blur(8px);
        transform:scale(0.1) translate(-100%,0);
    }
    100% {
        opacity:1;
        filter:none;
        transform:translate(-50%,-50%);
    }
}

$input-section-width: 50vw;